h2
{
    color: blueviolet;
}
body
{
    margin: 0;
    background-color: yellowgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header
{
    background-color: royalblue;
}
main
{
    background-color: blueviolet;
}
footer
{
    background-color: darkgreen;
    background-color: darkgreen;
    display: flex;
}
ul, h1, h2, h3, h3, h4, h5, h6
{
    margin: 0;
}
ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
a
{
    text-decoration: none;
}
html
{
    height: 100%;
}
/* верхняя рамка для подвала  border*/
/* отступы для текста 10px padding*/
/* цвет текста меню color */
.wrapper
{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff24;
    padding: 30px;
}
.flex-between-center
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}